.blox-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 3em;
  line-height: 1;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: transparent;
}

.blox-button--contained {
  color: var(--button-variant-contained-color);
  background-color: var(--button-variant-contained-backgroundColor);
  border: var(--button-variant-contained-border);
}

.blox-button--outlined {
  color: var(--button-variant-outlined-color);
  background-color: var(--button-variant-outlined-backgroundColor);
  border: var(--button-variant-outlined-border);
}

.blox-button--text {
  color: var(--button-variant-text-color);
  background-color: var(--button-variant-text-backgroundColor);
  border: var(--button-variant-text-border);}

.blox-button--small {
  padding: 10px 16px;
  font-size: 12px;
}

.blox-button--medium {
  padding: 11px 20px;
  font-size: 14px;
}

.blox-button--large {
  padding: 12px 24px;
  font-size: 16px;
}
